/* form {
    width: 560px;
    height: auto;
    padding: 20px;
    margin: auto;
} */
/* fieldset {
    margin-bottom: 20px;
}
fieldset input{
    float: none;
}
.petType {
    font-size: 18px;
} */
/* select {
    margin-bottom: 20px;
    height: 28px;
} */